.el-table th, .el-table td{
    text-align: center;
}

.list-table-expand {
    font-size: 0;
}
.list-table-expand label {
    width: 90px;
    color: #99a9bf;
}
.list-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
    text-align: left;
}

.filter-container > * { 
    margin-top:1%; 
}

.filter-container .el-button{ 
    margin-left: 1px; 
    margin-top:1%; 
}

.el-button--mini{
    margin-left:3px;
    margin-top:1%;
}

/* 解决表格多选样式问题 */
.el-table-column--selection .cell {
    padding-left: 0;
    padding-right: 0;
}